#mensagem{
    position: fixed;
    top: 2%;
    width: 50%;
    border-radius: 7px;
    right: 5.5%;
    font-size: 24px;
    padding-left: 15px;
    z-index: 10000;
    @include keyframes(riseMessage){
        0%{
            opacity: 0;
            right: 25%;
        }
        100%{
            //right: 5.5%;
        }
    }
    @include animate(riseMessage, .4s, ease-out, 1);

    @include d(m){
        width: 80%;
    }

    @include d(s){
        width: 100%
    }

    &.danger{
        background-color: tomato;
        color: #c41d00;

    }

    &.sucess{
        background-color: #6bd682;
        color: #007005;
    }
}

.desativada{
    display: none;
}

.ativada{
    display: block;
}

